:root {
  --COLOR-WHITE: #ffff;
  --COLOR-INPUT: #ffffffc7;

  --COLOR-BLUE: #78cffd;
  --COLOR-BLUE-DISABLED: #78cffd87;
  --COLOR-LABEL: #3094e0;
  --COLOR-BLUE-DARK: #0a0057;

  --COLOR-GREEN-MODAL: #6ce384c4;
  --COLOR-RED-MODAL: #f441509e;
  --COLOR-GREEN-TAG: #54b667;
  --COLOR-RED-TAG: #c34141;

  --COLOR-TEXT: #000002;
  --COLOR-SHADOW: #00000029;
}
