<div class="d-flex flex-column container-fluid">
  <app-filters
    role="admin"
    (filterForm)="extractFilterData($event)"
    (clean)="handleClean($event)"
  ></app-filters>
  @if(!handle){
  <div class="mx-auto my-2">
    <p class="subtitle_data text-center">
      De manera predeterminada se cargan los servicios realizados del dia
      {{ yesterday }}
    </p>
  </div>
  } @if(finalResponse){
  <div class="spinner-overlay">
    <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  } @else{ @if(historyTable.length===0){
  <div class="mx-auto">
    <p class="subtitle_data">
      No se encontraron resultados para los criterios seleccionados.
    </p>
  </div>
  }@else {
  <table
    class="table-responsive-md table-responsive-lg table-responsive-xl bg-white table-responsive-xxl rounded-top-3"
  >
    <thead class="rounded-3">
      <tr>
        <th scope="col" style="width: 10%">Fecha del servicio</th>
        <th scope="col" style="width: 10%">Hora inicio</th>
        <th scope="col" style="width: 10%">Hora fin</th>
        <th scope="col" style="width: 10%">Placa</th>
        <th scope="col">Datos de origen</th>
        <th scope="col">Datos de destino</th>
        <th scope="col">Departamento</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Municipio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of historyTable">
        <td style="width: 10%">{{ row.date || "--" }}</td>
        <td style="width: 10%">
          {{ sharedService.convertTo12HourFormat(row.hour_start) || "--" }}
        </td>
        <td style="width: 10%">
          {{ row.hour_end || "--" }}
        </td>
        <td style="width: 10%">{{ row.license_plate_number || "--" }}</td>
        <td
          [tooltip]="row.adress_start"
          placement="top"
          container="body"
          containerClass="custom-tooltip"
        >
          {{ row.adress_start }}
        </td>
        <td
          [tooltip]="row.adress_end"
          placement="top"
          container="body"
          containerClass="custom-tooltip"
        >
          {{ row.adress_end }}
        </td>
        <td>{{ row.department || "--" }}</td>
        <td>{{ row.city || "--" }}</td>
        <td>{{ row.municipality || "--" }}</td>
      </tr>
    </tbody>
  </table>
  <div class="bg-white rounded-bottom-3">
    <app-paginator
      [itemsPerPage]="pageSize"
      [totalItems]="totalItems"
      [currentPage]="pageIndex"
      (pageChange)="handlePageEvent($event)"
    ></app-paginator>
  </div>

  } }
</div>
