<div class="modal">
  <div class="modal-content" style="height: 300px">
    <div
      class="bg-white h-50 d-flex header-modals"
      style="background-color: blue"
    >
      <p class="m-auto">response() !== 200 ? "Error" : "Correcto"</p>
    </div>
    <div class="container-logo">
      <img class="logo-modal" />
    </div>

    <div
      class="bg-blue h-50 mh-100 d-flex content-modal"
      style="background-color: blue"
    >
      <p class="m-auto">content()</p>
    </div>
  </div>
</div>
