<form
  class="d-flex flex-row justify-content-evenly align-items-center bg-white my-2 w-100 rounded-3"
  style="box-shadow: 0px 3px 6px #00000029"
  [formGroup]="filterGroup"
>
  <div
    class="form-floating my-3 col-md-2 col-lg-2 col-xl-2"
    [ngClass]="{
      'd-none ': role() === 'programmer_assign',
      'col-6 col-sm-6 col-md-6': role() === 'driver'
    }"
  >
    <input
      type="text"
      placeholder="Datepicker"
      formControlName="date"
      class="form-control input_filter"
      placement="bottom"
      [bsConfig]="bsConfig"
      bsDatepicker
      #dp="bsDatepicker"
    />
    <label for="floatingInput">Fecha</label>
  </div>
  <div
    class="form-floating my-3 col-md-2 col-lg-2 col-xl-2"
    [ngClass]="{ 'd-none': role() === 'driver' }"
  >
    <input
      type="text"
      formControlName="license_plate_number"
      class="form-control input_filter"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Numero de placa</label>
  </div>
  <div
    class="form-floating my-3 col-md-2 col-lg-2 col-xl-2"
    [ngClass]="{ 'd-none': role() === 'driver' }"
  >
    <select
      class="form-select input_filter"
      formControlName="department"
      id="floatingSelectDepartament"
    ></select>
    <label for="floatingSelectDepartament">Departamento</label>
  </div>
  <div
    class="form-floating my-3 col-md-2 col-lg-2 col-xl-2"
    [ngClass]="{ 'd-none': role() === 'driver' }"
  >
    <select
      class="form-select input_filter"
      id="floatingSelectCity"
      formControlName="city"
    ></select>
    <label for="floatingSelectCity">Ciudad</label>
  </div>

  <div
    class="my-3 col-md-2 col-lg-2 col-xl-2 d-flex flew-row justify-content-evenly"
  >
    <button
      [ngClass]="{ 'col-6 col-sm-6 col-md-6': role() === 'driver' }"
      class="btn btn-info rounded-3 mx-2 col-md-3 col-lg-2"
      tooltip="Buscar"
      placement="top"
      containerClass="custom-tooltip"
      container="body"
      (click)="submitFilter()"
    >
      <img
        src="../../../../../assets/images/search.svg"
        style="width: 25px; height: 25px"
        alt=""
      />
    </button>
    <button
      [ngClass]="{ 'col-6 col-sm-6 col-md-6': role() === 'driver' }"
      class="btn btn-danger rounded-3 mx-2 col-md-3 col-lg-2"
      tooltip="Limpiar Filtro"
      placement="top"
      containerClass="custom-tooltip"
      container="body"
      (click)="cleanFilter()"
    >
      <img
        src="../../../../../assets/images/trash.svg"
        style="width: 25px; height: 25px"
        alt=""
      />
    </button>
    <!-- <button
      class="d-none btn btn-info mx-2 col-md-3 col-lg-2 rounded-3 download_historic"
      [ngClass]="{
        'd-none': role() === 'driver' || role() === 'programmer_assign'
      }"
      tooltip="Descargar Historico"
      placement="top"
      container="body"
      containerClass="custom-tooltip"
    >
      <img
        src="../../../../../assets/images/download.svg"
        style="width: 25px; height: 25px"
        alt=""
      />
    </button> -->
  </div>
</form>
