<div
  class="accordion"
  id="accordionExample"
  style="margin: 10px auto; border-radius: 10px"
>
  <div class="accordion-item">
    <h2 class="accordion-header" style="border-radius: 10px">
      <button
        class="accordion-button"
        type="button"
        [ngClass]="{ collapsed: !isCollapsed }"
        data-bs-target="#collapseOne"
        [attr.aria-expanded]="isCollapsed"
        (click)="toggleCollapse()"
        aria-controls="collapseOne"
      >
        Id del servicio: {{ data().id_servicio }}
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      [ngClass]="{ show: isCollapsed }"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <ul class="row" style="list-style-type: none">
          <li class="col-12 col-md-6">
            <p class="subtitle_data">Id del servicio</p>
            <p>{{ data().id_servicio || "--" }}</p>
          </li>
          <li class="col-12 col-md-6">
            <p class="subtitle_data">Fecha del Servicio</p>
            <p>{{ data().date || "--" }}</p>
          </li>
          <li class="col-12 col-md-6">
            <p class="subtitle_data">Hora de inicio</p>
            <p>
              {{
                sharedService.convertTo12HourFormat(data().hour_start) || "--"
              }}
            </p>
          </li>
          <li class="col-12 col-md-6">
            <p class="subtitle_data">Hora fin</p>
            <p>
              {{ data().hour_end || "--" }}
            </p>
          </li>
          <li class="col-12 col-md-6">
            <p class="subtitle_data">Dirección de Origen</p>
            <p>{{ data().adress_start || "--" }}</p>
          </li>
          <li class="col-12 col-md-6">
            <p class="subtitle_data">Dirreción de destino</p>
            <p>{{ data().adress_end || "--" }}</p>
          </li>
          <!-- <li class="col-12 col-md-6">
            <p class="subtitle_data">Departamento</p>
            <p>{{ data().department || "--" }}</p>
          </li> -->
          <li class="col-12 col-md-6">
            <p class="subtitle_data">Ciudad</p>
            <p>{{ data().city || "--" }}</p>
          </li>
          <!-- <li class="col-12 col-md-6">
            <p class="subtitle_data">Municipio</p>
            <p>{{ data().municipality || "--" }}</p>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
