<div class="d-flex flex-column container-fluid">
  <app-filters role="programmer_assign"></app-filters>
  <table
    class="table-responsive-md table-responsive-lg table-responsive-xl bg-white table-responsive-xxl rounded-top-3"
  >
    <thead class="rounded-3">
      <tr>
        <th scope="col">ID del servicio</th>
        <th scope="col">Fecha del servicio</th>
        <th scope="col">Hora destino</th>
        <th scope="col">Placa</th>
        <th scope="col">Producto</th>
        <th scope="col">Dirreción de origen</th>
        <th scope="col">Dirreción de destino</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Estado</th>
        <th scope="col-1">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for( row of datalist;track row){
      <tr>
        <td>{{ row.id_servicio }}</td>
        <td>{{ row.date }}</td>
        <td>{{ row.hour_start }}</td>
        <td>{{ row.license_plate_number }}</td>
        <td placement="top" containerClass="custom-tooltip">
          {{ row.product_code }}
        </td>
        <td placement="top" containerClass="custom-tooltip">
          {{ row.adress_start }}
        </td>
        <td placement="top" containerClass="custom-tooltip">
          {{ row.adress_end }}
        </td>
        <td>{{ row.city }}</td>
        <td>
          <div class="tag reject m-auto">Rechazado</div>
        </td>

        <td
          class="d-flex flex-row justify-content-evenly align-items-center w-auto"
        >
          <button
            class="rounded-circle edit_assign"
            tooltip="Detalles del servicio"
            placement="top"
            (click)="openDialogDetail(row)"
            containerClass="custom-tooltip"
          >
            <img
              src="../../../../../../assets/images/eye.svg"
              alt="visualizar"
              style="width: 16px"
            />
          </button>
          <button
            class="rounded-circle edit_assign"
            (click)="editDriverAssign()"
            tooltip="Editar asignación"
            placement="top"
            containerClass="custom-tooltip"
          >
            <img
              src="../../../../../../assets/images/edit.svg"
              alt="editar"
              style="width: 13px"
            />
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div
    class="bg-white rounded-bottom-3 d-flex flex-row justify-content-end align-items-center"
  >
    <div class="d-flex flex-column mx-2 align-items-end">
      <p class="subtitle_data mb-0">Total de servicios:</p>
      <p class="text-sub">342</p>
    </div>
    <app-paginator
      [itemsPerPage]="10"
      [totalItems]="90"
      [currentPage]="1"
    ></app-paginator>
  </div>
</div>

<app-edit-assigned
  *ngIf="handleModalEdit"
  (handleToastEdit)="editToastHandle($event)"
  (closeModal)="closeModalEdit($event)"
></app-edit-assigned>
<app-detail-services
  [data]="dataDetail"
  [handleCancel]="true"
  *ngIf="handleModalDetail"
  (closeModal)="closeModalCancel($event)"
></app-detail-services>
<app-toast *ngIf="handleToast"></app-toast>
