@import "../constants/colors.css";

.accordion-button,
.accordion-header {
  font-weight: 500 !important;
  color: var(--COLOR-BLUE-DARK) !important;
  background-color: var(--COLOR-BLUE) !important;
}
.accordion-body {
  max-height: 300px;
  overflow: auto;
}
.accordion {
  margin: 10px auto;
  border-radius: 10px;
}
