@import "../constants/colors.css";

.bg-image {
  background-image: url(../../images/Fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-layout {
  background: transparent
    linear-gradient(138deg, var(--COLOR-WHITE) 30%, var(--COLOR-BLUE) 200%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  mix-blend-mode: normal;
}
.bg-blue {
  &[data-enable="false"] {
    background-color: var(--COLOR-BLUE);
  }
  &[data-enable="true"] {
    background-color: #f44150f8;
  }
}
.bg-transparent {
  background-color: transparent !important;
}
.all {
  --bs-gutter-x: 0 !important;
  max-height: 100vh;
  overflow-y: scroll;
}
