@import "../constants/colors.css";

.nav-link.active {
  border-bottom-color: var(--COLOR-BLUE) !important;
}

.accordion-button,
.accordion-header {
  font-weight: 600 !important;
  color: var(--COLOR-BLUE-DARK) !important;
  background-color: var(--COLOR-BLUE) !important;
}
