@import "../constants/colors.css";

.spinner-border {
  width: 200px !important;
  height: 200px !important;
  --bs-spinner-border-width: 0.5em !important;
  color: var(--COLOR-BLUE-DARK) !important;
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--COLOR-BACKGROUND-DARK); /* Fondo con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Asegúrate de que esté encima de todo */
}
