@import "../constants/colors.css";

/* Si deseas cambiar el estilo solo de tooltips específicos, puedes usar una clase personalizada */
.custom-tooltip {
  background-color: var(--COLOR-BLUE-DARK);
  color: var(--bs-white);
  border-radius: 10px;
  padding: 5px;
  --bs-tooltip-bg: var(--COLOR-BLUE-DARK);
  --bs-tooltip-color: var(--bs-white);
}
