<!-- <div class="modal" tabindex="-1" style="display: inline">
  <div
    class="modal-content"
    style="
      overflow-x: hidden;
      height: 300px;
      position: relative;
      top: 27%;
      left: 42%;
      width: 300px;
    "
  >
    <div
      class="d-flex flex-column w-100"
      style="position: relative; height: 100%"
    >
      <div
        class="bg-white h-50 d-flex header-modals"
        [attr.data-enable]="response() !== 200"
      >
        <p class="m-auto">"Correcto"</p>
      </div>
      <div class="container-logo" [attr.data-enable]="response() !== 200">
        <img class="logo-modal" [src]="url" />
      </div>

      <div
        class="bg-blue h-50 mh-100 d-flex content-modal"
        [attr.data-enable]="response() !== 200"
      >
        <p class="m-auto">{{ content() }}</p>
      </div>
    </div>
  </div>
</div> -->
<div class="modal">
  <div class="modal-content" style="height: 300px">
    <div
      class="bg-white h-50 d-flex header-modals"
      [attr.data-enable]="response() !== 200"
    >
      <p class="m-auto">{{ response() !== 200 ? "Error" : "Correcto" }}</p>
    </div>
    <div class="container-logo" [attr.data-enable]="response() !== 200">
      <img class="logo-modal" [src]="url" />
    </div>

    <div
      class="bg-blue h-50 mh-100 d-flex content-modal"
      [attr.data-enable]="response() !== 200"
    >
      <p class="m-auto">
        {{
          response() !== 200
            ? "Credenciales incorrectas"
            : "Incio de Sesión Valido"
        }}
      </p>
    </div>
  </div>
</div>
