@import "../constants/colors.css";

.btn-info {
  --bs-btn-color: var(--COLOR-BLUE-DARK) !important;
  --bs-btn-bg: var(--COLOR-BLUE) !important;
  --bs-btn-border-color: var(--COLOR-BLUE) !important;
  --bs-btn-hover-color: var(--COLOR-BLUE-DARK) !important;
  --bs-btn-hover-bg: var(--COLOR-BLUE-DARK) !important;
  --bs-btn-hover-border-color: var(--COLOR-BLUE-DARK) !important;
  --bs-btn-disabled-color: var(--COLOR-BLUE-DARK) !important;
  --bs-btn-disabled-bg: var(--COLOR-BLUE-DISABLED) !important;
  --bs-btn-disabled-border-color: var(--COLOR-BLUE-DISABLED) !important;
  &:hover {
    color: var(--COLOR-WHITE);
  }
}
.btn-success {
  --bs-btn-bg: var(--COLOR-GREEN-TAG) !important;
  --bs-btn-border-color: var(--COLOR-GREEN-TAG) !important;
  --bs-btn-hover-bg: var(--COLOR-GREEN-HOVER) !important;
  --bs-btn-hover-border-color: var(--COLOR-GREEN-HOVER) !important;
  --bs-btn-disabled-bg: var(--COLOR-GREEN-HOVER) !important;
  --bs-btn-disabled-border-color: var(--COLOR-GREEN-HOVER) !important;
}
.btn {
  --bs-btn-padding-x: 0px;
}
a {
  --bs-link-hover-color-rgb: var(--$COLOR-BLUE-DISABLED) !important;
}

button:hover {
  background: var(--COLOR-BLUE-DISABLED);
}

.mat-mdc-button-base {
  text-decoration: underline !important;
}

.redirect {
  color: var(--COLOR-WHITE) !important;
  text-decoration: underline;
}
.edit_assign {
  background-color: var(--COLOR-BLUE-DARK);
  border: none;
  width: 24px;
  height: 24px;
}
.download_historic {
  background-color: var(--COLOR-BLUE-DARK) !important;
  border-color: var(--COLOR-BLUE-DARK) !important;
}
.button_assign_driver {
  position: fixed;
  bottom: 2%;
  right: 5%;
  z-index: 1;
}
.button_service {
  font-size: 12px;
  padding: 5px 12px;
}
.exit_modal {
  width: 26px;
  top: 21px;
  position: absolute;
  left: 504px;
  cursor: pointer;
}
