@import "../constants/colors.css";

:root {
  --bs-body-bg: var(--COLOR-INPUT) !important;
}
.form-floating > label {
  color: var(--COLOR-LABEL) !important;
}
bs-datepicker-container {
  width: 300px;
  background-color: var(--COLOR-WHITE) !important ;
  border-radius: 10px;
  border: 1px solid var(--COLOR-BLUE-DARK);
}
.bs-datepicker-body > table {
  margin: auto;
}
.bs-datepicker-body > table > thead {
  background-color: var(--COLOR-WHITE);
  box-shadow: none;
  height: 20px;
}
.bs-datepicker-body > table > thead > tr > th {
  color: var(--COLOR-BLUE);
  height: 20px;
}
.bs-datepicker-body > table > tbody > tr {
  border: none;
  height: 40px;
}
.bs-datepicker-body > table > tbody > tr > td {
  cursor: pointer;
  height: 40px;
}
.bs-datepicker-body > table > tbody > tr > td > span {
  &:hover {
    background-color: var(--COLOR-BLUE);
    border-radius: 100%;
    padding: 5px;
  }
  &:active {
    background-color: var(--COLOR-BLUE-DARK);
    color: var(--COLOR-WHITE);
    border-radius: 100%;
    padding: 5px;
  }
}
.bs-datepicker-body tbody .week {
  color: var(--COLOR-BLUE-DARK);
  font-weight: 700;
}
.bs-datepicker-head {
  background-color: var(--COLOR-WHITE);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
bs-datepicker-navigation-view > button {
  background-color: var(--COLOR-WHITE);
  color: var(--COLOR-BLUE-DARK);
  border: none;
}
.input_filter {
  border: 1px var(--COLOR-BLUE-DARK) solid !important;
}
@media (min-width: 300px) {
  bs-datepicker-container {
    width: 300px;
    left: 68px !important;
    background-color: var(--COLOR-WHITE) !important ;
    border-radius: 10px;
    border: 1px solid var(--COLOR-BLUE-DARK);
  }
}
@media (min-width: 700px) {
  bs-datepicker-container {
    width: 300px;
    left: 0px !important;

    background-color: var(--COLOR-WHITE) !important ;
    border-radius: 10px;
    border: 1px solid var(--COLOR-BLUE-DARK);
  }
}
