@import "../constants/colors.css";

:root {
  --bs-body-bg: var(--COLOR-INPUT) !important;
}
.form-floating > label {
  color: var(--COLOR-LABEL) !important;
}
bs-datepicker-container {
  width: 300px;
  left: 68px !important;
  background-color: var(--COLOR-WHITE) !important ;
  border-radius: 10px;
  border: 1px solid var(--COLOR-BLUE-DARK);
}

.bs-datepicker-body > table > thead {
  background-color: var(--COLOR-WHITE);
  box-shadow: none;
}
.bs-datepicker-body > table > thead > tr > th {
  color: var(--COLOR-BLUE);
}
.bs-datepicker-head {
  background-color: var(--COLOR-WHITE);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
bs-datepicker-navigation-view > button {
  background-color: var(--COLOR-WHITE);
  color: var(--COLOR-BLUE-DARK);
  border: none;
}
.input_filter {
  border: 1px var(--COLOR-BLUE-DARK) solid !important;
}
