<ul class="nav nav-underline m-3">
  <li class="nav-item">
    <a
      class="nav-link nav-color"
      (click)="isActive('assignments')"
      [ngClass]="{ active: assignmentsActive }"
    >
      <img
        src="../../../../assets/images/assign.svg"
        style="width: 20px"
        class="mx-2"
        alt=""
      />
      Asignaciones</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link nav-color"
      (click)="isActive('history')"
      [ngClass]="{ active: historyActive }"
    >
      <img
        src="../../../../assets/images/history.svg"
        style="width: 20px"
        class="mx-2"
        alt=""
      />Historial</a
    >
  </li>
</ul>
