<div class="d-flex flex-column mb-2">
  <div class="d-flex flex-row justify-content-end mt-3">
    <div
      class="p-2 rounded-2 mx-2 d-flex flex-row justify-content-center align-items-center indicator blue-dark"
    >
      Total de servicios aceptados
      <h2 class="mx-2">{{ statistics.servicios_aceptados }}</h2>
    </div>
    <div
      class="p-2 rounded-2 mx-2 d-flex flex-row d-flex flex-row justify-content-center align-items-center indicator blue"
    >
      Total de servicios Rechazados
      <h2 class="mx-2">{{ statistics.servicios_rechazados }}</h2>
    </div>
    <div
      class="p-2 rounded-2 mx-2 d-flex flex-row d-flex flex-row justify-content-center align-items-center indicator blue-dark"
    >
      Total de servicios finalizados
      <h2 class="mx-2">{{ statistics.servicios_finalizados }}</h2>
    </div>
  </div>
  <app-navbar component="coordinator"></app-navbar>
  <router-outlet></router-outlet>
</div>
