<div class="d-flex flex-column container-fluid">
  @if(finalResponse){
  <div class="spinner-overlay">
    <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  } @else { @if(assignedServices.length===0){
  <p class="subtitle_data text-center">
    En este momento no hay servicios adicionales disponibles.
  </p>
  }@else {
  <p class="subtitle_data text-center">
    Existen servicios sin asignar. Por favor, revise si puede incluirlos en su
    ruta del día.
  </p>
  @for (row of assignedServices; track row ) {
  <app-accordion-asign-driver
    [data]="row"
    tab="add"
    (handle)="refresh($event)"
  ></app-accordion-asign-driver>
  } }}
</div>
